SUPABASE_URL="https://jcvlkhmyzdsukebulteu.supabase.co"
SUPABASE_PROJECT_ID="jcvlkhmyzdsukebulteu"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_yEC4Rkj5aMqEc09fpzknhA_1iRyLdvb"
VITE_SUPABASE_URL="https://jcvlkhmyzdsukebulteu.supabase.co"
VITE_SUPABASE_PROJECT_ID="jcvlkhmyzdsukebulteu"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_yEC4Rkj5aMqEc09fpzknhA_1iRyLdvb"
SUPABASE_SERVICE_ROLE_KEY="COLA_AQUI_A_SECRET_KEY_DO_SUPABASE"
